<nav class="header__navbar">
    <a href="index.html">
        <img src="assets/vtHBO-v1.0-Logo_1 1.png" class="vthbo-logo" alt="logo van Visual Thinking HBO">
    </a>
    <ul class="header__navbar-items">
        <li class="header__navbar-item">
            <a>Over</a>
        </li>
        <li class="header__navbar-item">
            <a>Blog</a>
        </li>
        <li class="header__navbar-item">
            <img src="assets/account_icon.png" class="account-icon" alt="afbeelding van een account icoon">
        </li>
    </ul>
    </ul>
</nav>